<section id="section-summary" class="section--summary">
  <div class="flex--vertical">
    <div class="flex_child--vertical flex--horizontal summary__lists">
      <div class="summary__list flex--vertical fadeIn">
        <img src="assets/images/summary-dollar.png"  />
       <p>TE VENDO </p>
        <p>1 EUR = 1,1500 USD</p>

      </div>
      <div class="summary__list flex--vertical fadeIn">
        <img src="assets/images/summary-dollar.png"  />
        <p>TE COMPRO </p>
        <p>1 USD = 1,0800 EUR</p>
      </div>
      <div class="summary__list flex--vertical fadeIn">
        <img src="assets/images/summary-dollar.png"  />
        <p>Otra Divisa</p>
        <a href="https://www.google.com" class="summary__link">Ver más</a>
      </div>
    </div>
    <div class="flex_child--vertical flex--horizontal aligner fadeIn">
      <p>
        Cotizador en mantenimiento por cambios de plataforma de variación de moneda.
      </p>
      <h2 class="font-fjalla aligner_item--bottom">
        Cotización  dólar  euro
      </h2>
    </div>
  </div>
</section>
