<section id="section-snippets" class="section--snippets">
  <div class="flex--horizontal">
    <div class="snippets__cards flex--vertical">
      <div class="snippets__card flex--horizontal">
        <p>Nuestro servicio es garantizado y personalizado.</p>
        <h3 class="font-fjalla">100%</h3>
      </div>
      <div class="snippets__card flex--horizontal">
        <p>Contamos con todo tipo de divisa (moneda)</p>
        <h3 class="font-fjalla">90%</h3>
      </div>
      <div class="snippets__card flex--horizontal">
        <p>Utiliza el cotizador Dolar Euro online</p>
        <h3 class="font-fjalla">24/7</h3>
      </div>
      <div class="snippets__card flex--horizontal">
        <p>Contactanos por nuestros canales </p>
        <h3 class="font-fjalla">24/7</h3>
      </div>
      <div class="snippets__card flex--horizontal">
        <p>Nuestro servicio es a nivel nacional en el territorio ecuatoriano</p>
        <h3 class="font-fjalla">Ec</h3>
      </div>
    </div>
    <div class="snippets__content animated fadeInDown">
      <h3 class="font-fjalla snippets__title">
        La mejor cotización del mercado local.
      </h3>
      <p class="snippets__description">
         Nuestro servicio de cotización te ofrece la mejor tasa de cambio del mercado local en la compra y venta de divisas (moneda).<br /><br />
         Te ofrecemo un servicio personalizado y con todas las medidas de seguridad.<br /> <br />
         Trabajamos con todo tipo de divisa, si deseas mas informacion te podemos asesorar para que realices tu mejor inversión
      </p>
    </div>
  </div>
</section>
