@import "vars";

.cta {
  background: $whatsapp-icon;
  border-radius: 3px;
  color: $gray-1;
  font-size: 0.9rem;
  padding: 0.45rem 0.6rem;
  outline: 0;
  width: 80%;
  max-width: 230px;
  text-align: left;
  cursor: pointer;
  transition: 0.2s;
  text-decoration: none;
  position: relative;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  &:after {
    position: absolute;
    content: "";
    background-image: url(/assets/images/whatsapp.svg);
    right: 0.5rem;
    top: 10%;
    display: block;
    width: 45px;
    height: 45px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.section--hero {
  max-width: 760px;
  position: relative;
  margin-top: 4rem;
  .cta {
    height: 40px;
    margin-top: 1rem;
    small {
      vertical-align: top;
    }
    &:hover {
      transform: translate3d(0px, -3px, 0px);
    }
  }
  .flex_child--horizontal {
    &:first-of-type {
      flex: 1.2;
      flex-direction: column;
      padding-right: 4rem;
      padding-bottom: 5.5rem;
    }
    &:last-of-type {
      flex: 1;
      z-index: -1;
    }
  }
}

@media only screen and (max-width: 770px) {
  .section--hero {
    .flex--horizontal {
      flex-direction: column;
      text-align: center;
      justify-content: center;
    }
    .flex_child--horizontal:first-of-type {
      padding: 30% 2rem 2rem 2rem;
      h1 {
        margin-bottom: 30%;
      }
    }
    .flex_child--horizontal:last-of-type {
      max-width: 300px;
      margin: auto;
      display: none;
    }
    .cta {
      margin: 1.4rem auto 0 auto;
    }
  }
}


/*ANIMACION PARA BOTON WHATSAP*/

.heartbeat {
  &:hover {
    animation: heartbeat 1.5s ease-in-out infinite both;
  }
}

@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
