<section id="section-hero" class="section--hero">
  <div class="flex--horizontal">
    <div class="flex_child--horizontal aligner">
      <h1 class="font-fjalla">Euros Ya</h1>
      <p>
        Compra y venta de divisas a nivel nacional, con la mejor cotización del mercado local.
      </p>
      <a href="https://wa.me/593987563855/?text=Necesito cotizar la compra y venta de una divisa." class="cta heartbeat">
        <span>Contáctanos por</span>
        <br/>
        <strong>WhatsApp</strong><br />
      </a>
    </div>
    <div class="flex_child--horizontal fadeInUp">
      <img src="assets/images/logo_euros_ya.webp"  />
    </div>
  </div>
</section>
